body {
    background-color: #f4e1d1;
    margin: 1rem;
}

main {
    /* background-color: lightblue; */
    max-width: 50%;
    margin: auto;
    max-width: 100%;
    margin-left: 20%;
    margin-left: 21rem;
    position: relative;
}

p {
    font-size: 20px;
    font-family: sans-serif;
    /* color: blue !important; */
}

ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    padding: 2rem;
    border: 1px solid black;
    box-sizing: border-box;
    /* margin-left: 2rem; */
}

.navigation {
    padding: 1rem;
    border-right: 1px dashed darkmagenta;
    border-bottom: 1px dashed darkmagenta;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5rem;
    
    width: 20rem;
    position: fixed;
    margin: 0;
}

.navigation__primary {
    list-style: none;
}

.navigation__secondary {
    list-style: none;
    padding-left: 1rem;
}

.navigation__link {
    color: darkmagenta;
}

.highlighted-text {
    color: rgb(150, 50, 127);
    font-family: Georgia, Times, serif;
    background-color: whitesmoke;
    padding: 1rem;
}